In [3]:
print("hello, world")

hello, world

In [5]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [7]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [9]:
# if 5 > 2:
# print("Five is greater than two!") ERROR!

In [11]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [15]:
# if 5 > 2:
#  print("Five is greater than two!")
#         print("Five is greater than two!") ERROR!

In [17]:
x = 5
y = "Hello, World!"

In [19]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [21]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [23]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [25]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [27]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [29]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [31]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [33]:
x = "John"
# is the same as
x = 'John'

In [35]:
a = 4
A = "Sally"
#A will not overwrite a

In [37]:
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John" 
#allowed names

In [39]:
# 2myvar = "John"
# my-var = "John"
# my var = "John"
#prohibited names

In [41]:
myVariableName = "John" #camelCase
MyVariableName = "John" #PascalCase
my_variable_name = "John" #snake_case

In [43]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [45]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [47]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [49]:
x = "Python is awesome"
print(x)

Python is awesome

In [51]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [53]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [55]:
x = 5
y = 10
print(x + y)

15

In [57]:
# x = 5
# y = "John"
# print(x + y)
# unmatched variable types

In [59]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [61]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome