LABAROTORY WORK #1

Python HOME

In [2]:
print("Hello World")

Hello World

Python SYNTAX

In [4]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [6]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (948963384.py, line 2)

Python Variables

In [ ]:
x = 5
y = "Hello, World!"

In [8]:
#This is a comment.
print("Hello, World!")

Hello, World!

Python Comments

In [10]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [12]:
print("Hello, World!") #This is a comment

Hello, World!

In [14]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [16]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [18]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Variables

In [20]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [22]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [24]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
Variable names

In [26]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [28]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2567827049.py, line 1)

Assign Multiple Values

In [30]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [32]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [34]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Values

In [ ]:
x = "Python is awesome"
print(x)

In [36]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [38]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [40]:
x = 5
y = 10
print(x + y)

15

In [44]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

In [48]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [50]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [52]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [54]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Python Data Types

In [57]:
x = 5
print(type(x))

<class 'int'>

Python Numbers

In [59]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Python Casting

In [61]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [63]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [65]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

Python Strings

In [67]:
print("Hello")
print('Hello')

Hello
Hello

In [69]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [71]:
a = "Hello"
print(a)

Hello

In [73]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [75]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [77]:
a = "Hello, World!"
print(a[1])

e

In [79]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [81]:
a = "Hello, World!"
print(len(a))

13

In [83]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [85]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [87]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [89]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing strings

In [92]:
b = "Hello, World!"
print(b[2:5])

llo

In [94]:
b = "Hello, World!"
print(b[:5])

Hello

Modify Strings

In [96]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [98]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [100]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Concatenate strings

In [102]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [104]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format Strings

In [106]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [108]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [110]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Escape characters

In [115]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.